{% extends 'testsite/base.html' %}
{% load testsite_tags %}

{% block content %}


<form action="" method="post">
    {% csrf_token %}
    <label for="{{ que1 }}">Поле вопроса:</label>
    <input id="{{ que1 }}" name="{{ que1 }}" type="" value="{{ que1 }}">
    <input type="submit" value="OK">
</form>


{{ page_obj.object_list.0 }}

{% for item in ans %}
{% if item.ans.question__pk == item.ans.question_id %}
<p>{{ item.answer_text }}</p>
{% endif %}
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <!--            <a href="?page=1">&laquo; first</a>-->
            <a href="?page={{ page_obj.previous_page_number }}">Предыдущий вопрос</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Следующий вопрос</a>
        <!--            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>-->
        {% endif %}
    </span>
</div>

{% comment %}
<nav aria-label="...">
    <ul class="pagination">

        {% for page in page_obj.paginator.page_range %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page }}">{{ que1|index:forloop.counter0 }}</a>
        </li>

        {% endfor %}
    </ul>
</nav>
{% endcomment %}

{% endblock %}

